nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    /* padding: 0.5rem 2rem; */
    padding: 0 2rem;
    background-color: #eb6e34;
    box-shadow: 2px 4px 4px #eb6e34;
    align-items: center;
    /* height: 5em; */
    height: auto;
    box-shadow: 2px 4px 4px #c2480f;
    padding: 0.5rem 2rem;
}

nav * {
  text-align: center;
  white-space: nowrap;
}

nav a.menu {
    text-decoration: none;
    color: #eb6e34;
    padding: .5em 1em;
    font-size: x-large;
    font-weight: bold;
}

nav a.menu:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 150px #eb6e34, 0 0 200px #eb6e34, 0 0 250px #eb6e34, 0 0 30px #eb6e34, 0 0 35px #eb6e34;
     transition: all 0.4s ease;
}

.right {
  padding-top: 3px;
  align-items: center;
  /* justify-self: flex-end; */
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: space-around;
  }

  .right {
    margin: auto;
  }
}

.right .altern {
  font-family: tahoma;
  color: #c2480f;
}
.right .altern a {
    color: #eb6e34;
    outline: none;
}

.right .altern a:hover {
  color: #eb6e34d5;;
}

.right .altern a:active {
  color: #c2480f;
}

.nav-button{
  text-align: center;
  background-color: white;
  color: #eb6e34;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid #c2480f;
  transition: all 0.1s ease;
  padding: .5em 1em;
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: x-large;
  font-weight: bold;
  font-family: tahoma;
  margin-bottom: 5px;
}

.nav-button:hover{
  background-color: #eb6e34;
  color: white;
  border: 3px solid #eb6e34;
  box-shadow: 0px 1px 3px rgb(150, 66, 27);
}

.nav-button:active {
  background-color: #c2480f;
  border-color: #c2480f;
  transform: scale(0.99);
}


.menu-nav-button{
  text-align: center;
  background-color: #eb6e34;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: all 0.1s ease;
  /* padding: auto; */
  height: 3em;
  /* margin-left: 5px; */
  outline: none;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  font-size: x-large;
  font-weight: bold;
}

.menu-nav-button:hover{
  background-color: #c2480f;
  color: white;
  border: 3px solid transparent;
  box-shadow: 0px 1px 3px rgb(150, 66, 27);
}

.menu-nav-button:active {
  background-color: #c2480f;
  /* border-color: #c2480f; */
  transform: scale(0.99);
}


/* nav {
  position: sticky;
  top: 0;

  transition: top 500ms ease-in-out;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
} */

@media only screen and (max-width: 1000px) {
  .menu-nav-button{
    font-size: xx-large;
  }
}