    <nav>
        <button class="menu-nav-button" onclick="location.href='/' onclick="location.href='/';">Home</button>
        <button class="menu-nav-button" onclick="location.href='/monthly_calendar';">Create a MeetMe</button>
        <button class="menu-nav-button" onclick="location.href='/mymeetings';">My meetings</button>
        <div class="right">
          <button class="menu-nav-button" id="name">{{name}}</button>
          <button class="menu-nav-button" id="logout">Logout</button>
        </div>
    </nav>
