<nav>
    <button class="menu-nav-button" id='home-ref' data-path='/'>Home</button>
    <button class="menu-nav-button" id='create-ref' data-path='/create-meetme'>Create a MeetMe</button>
    <button class="menu-nav-button" id='mymeetings-ref' data-path='/mymeetings';>My meetings</button>
    <div class="right">
        <button class="menu-nav-button" id="name">{{name}}</button>
        <button class="menu-nav-button" id="logout" data-path='/logout'>Logout</button>
    </div>
</nav>

<script src="/js/loggedin.js"></script>
<script src="/js/modal.js"></script>