<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Task list</title>
    <script src="https://kit.fontawesome.com/285af68c5a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/signinstyle.css">
    <link rel="stylesheet" href="css/signupstyle.css">
    <link rel="stylesheet" href="css/publish.css">
    <link rel="stylesheet" href="css/mymeetings.css">

    <link rel="stylesheet" href="css/monthviewstyle.css">

    <script src="https://kit.fontawesome.com/285af68c5a.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav>
        <button class="menu-nav-button" onclick="location.href='/';">Home</button>
        <button class="menu-nav-button" onclick="location.href='/monthly_calendar';">Create a MeetMe</button>
        <button class="menu-nav-button" onclick="location.href='/mymeetings';">My meetings</button>
        <div class="right">
          <button class="menu-nav-button" id="signinbtn">Sign In</button>
          <button class="menu-nav-button" id="signuplink">Sign Up</button>
        </div>
    </nav>

        <div id="signinmodal" class="modal-sign">
          
          <form class="signin modal-sign-content" action="#">
            <span class="close-sign">&times;</span>
            <fieldset>
                <i class="fas fa-sign-in-alt fa-4x" id="sign-in-icon"></i>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign in</h1> 
                <hr>
      
                <div class='inputWithIcon'>
                    <label for="email-signin"><strong>Email</strong> <br></label>
                    <input type="email" name="UserEmail" id="email-signin" placeholder="Enter Email" required>
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                    <br> 
                </div>
      
                <div class='inputWithIconPas'>
                    <label for="password-signin"><strong>Password</strong> <br></label>
                    <input type="password" name="UserPass" id="password-signin" placeholder="Enter Password" required>
                    <i class="fa fa-eye fa-lg fa-fw" id="togglePasswordSignIn"></i>
                    <br> 
                </div>
        
              
      
      
              <a href="" id='forgot-pass'><u>Forgot Password ?</u></a>
              <br>
      
              <button>Sign In</button>
            </fieldset>
          </form>
    </div>
      
    <div id="signupmodal" class="modal-sign">
          
          <form  class="signup modal-sign-content modal-sign-content-up" action="#">
            <span class="close-sign">&times;</span>
            <fieldset>
                <i class="fas fa-user-plus fa-4x" id="user-plus-icon"></i>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign up</h1>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please fill this form to create an account</p>
                <hr>
      
                <div class='inputWithIcon'>
                    <label for="full-name-signup"><strong>Full Name</strong> <br></label>
                    <input type="text" name="UserName" id="full-name-signup" placeholder="Enter Full Name" required>
                    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                
                <div class='inputWithIcon'>
                    <label for="email-signup"><strong>Email</strong> <br></label>
                    <input type="email" name="UserEmail" id="email-signup" placeholder="Enter Email" required>
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>
      
                <div class='inputWithIconPas'>
                    <label for="password-signup"><strong>Password</strong> <br></label>
                    <input type="password" name="UserPass" id="password-signup" placeholder="Enter Password" required>
                    <i class="fa fa-eye fa-lg fa-fw" id="togglePassword"></i>
                </div>
      
                <div class='inputWithIconPas'>
                    <label for="password2-signup"><strong>Retype Password</strong> <br></label>
                    <input type="password" name="UserPass2" id="password2-signup" placeholder="Enter Password" required>
                    <i class="fa fa-eye fa-lg fa-fw" id="togglePassword2"></i>
                </div>
                
                <button>Sign Up</button>
            </fieldset>
        </form>
    </div>

    {{{body}}}

    
</body>

</html>