


    
<div id='all-container'>
    <h1 style="text-align: center;" id='choose-options'>Choose the options</h1>
    
    
    <div id='view-selector-cont'>
        <h2 style="text-align: center;" class="view-selector"> 
            <span id='month-selector' class='selected'>Month view</span>
            <span id='week-selector' class='unselected'>Week view</span>
        </h2>
    </div>
    
    
    <div class="cont">
        <div class="month">
            <h3 class="arrow leftarr">&#10094;</h3>
            <h2></h2>
            <h3 class="arrow rightarr">&#10095;</h3>
        </div>
        
        <ul class="weekdays">
            <li>Su</li>
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
        </ul>
        <ul class="days" id="daytodate">
        </ul>
    </div>
    <div class="week">
        <div class="week-title">
            <i class="fas fa-caret-left fa-5x" id='previousButtonWeek'></i>
            <h1>Apr 12-19</h1>
            <i class="fas fa-caret-right fa-5x" id='nextButtonWeek'></i>
        </div>
        <!-- <div class="week-view"> -->
        <div class="day-names">
            <div>
                <!-- <span id="extra-space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>12</span>
                    <span>Sun</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>12</span>
                    <span>Mon</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>13</span>
                    <span>Tue</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>14</span>
                    <span>Wed</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>15</span>
                    <span>Thu</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>16</span>
                    <span>Fri</span>
                </div>
            </div>
            <div>
                <div class="day-name">
                    <span>Apr</span>
                    <span>17</span>
                    <span>Sat</span>
                </div>
            </div>
            <!-- <div>
                
            </div> -->
        </div>
        <div class="week-days">
            <div class="hours">
                <div>00:00</div>
                <div>01:00</div>
                <div>02:00</div>
                <div>03:00</div>
                <div>04:00</div>
                <div>05:00</div>
                <div>06:00</div>
                <div>07:00</div>
                <div>08:00</div>
                <div>09:00</div>
                <div>10:00</div>
                <div>11:00</div>
                <div>12:00</div>
                <div>13:00</div>
                <div>14:00</div>
                <div>15:00</div>
                <div>16:00</div>
                <div>17:00</div>
                <div>18:00</div>
                <div>19:00</div>
                <div>20:00</div>
                <div>21:00</div>
                <div>22:00</div>
                <div>23:00</div>
            </div>
            <div class="week-columns">
                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                    <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>

                
            </div>


        </div>

        


    </div>
    <div class="excess-space">

    </div>

    
    <div id="daymodal" class="modal-day">
        <div class="daymodal-content">
        <fieldset id='modal-fieldset'>
            <div class="week-month">
                <div class="day-names-month">
                    <div>
                        <div class="day-name-month">
                            <span>Apr</span>
                            <span>12</span>
                            <span>Sun</span>
                        </div>
                    </div>
        
                </div>
                <div class="week-days-month">
                    <div class="hours-month">
                        <div>00:00</div>
                        <div>01:00</div>
                        <div>02:00</div>
                        <div>03:00</div>
                        <div>04:00</div>
                        <div>05:00</div>
                        <div>06:00</div>
                        <div>07:00</div>
                        <div>08:00</div>
                        <div>09:00</div>
                        <div>10:00</div>
                        <div>11:00</div>
                        <div>12:00</div>
                        <div>13:00</div>
                        <div>14:00</div>
                        <div>15:00</div>
                        <div>16:00</div>
                        <div>17:00</div>
                        <div>18:00</div>
                        <div>19:00</div>
                        <div>20:00</div>
                        <div>21:00</div>
                        <div>22:00</div>
                        <div>23:00</div>
                    </div>
                    <div class="week-columns-month">
                            <div><span>00:00</span></div><div><span>00:15</span></div><div><span>00:30</span></div><div><span>00:45</span></div><div><span>01:00</span></div><div><span>01:15</span></div><div><span>01:30</span></div><div><span>01:45</span></div><div><span>02:00</span></div><div><span>02:15</span></div><div><span>02:30</span></div><div><span>02:45</span></div><div><span>03:00</span></div><div><span>03:15</span></div><div><span>03:30</span></div><div><span>03:45</span></div><div><span>04:00</span></div><div><span>04:15</span></div><div><span>04:30</span></div><div><span>04:45</span></div><div><span>05:00</span></div><div><span>05:15</span></div><div><span>05:30</span></div><div><span>05:45</span></div><div><span>06:00</span></div><div><span>06:15</span></div><div><span>06:30</span></div><div><span>06:45</span></div><div><span>07:00</span></div><div><span>07:15</span></div><div><span>07:30</span></div><div><span>07:45</span></div><div><span>08:00</span></div><div><span>08:15</span></div><div><span>08:30</span></div><div><span>08:45</span></div><div><span>09:00</span></div><div><span>09:15</span></div><div><span>09:30</span></div><div><span>09:45</span></div><div><span>10:00</span></div><div><span>10:15</span></div><div><span>10:30</span></div><div><span>10:45</span></div><div><span>11:00</span></div><div><span>11:15</span></div><div><span>11:30</span></div><div><span>11:45</span></div><div><span>12:00</span></div><div><span>12:15</span></div><div><span>12:30</span></div><div><span>12:45</span></div><div><span>13:00</span></div><div><span>13:15</span></div><div><span>13:30</span></div><div><span>13:45</span></div><div><span>14:00</span></div><div><span>14:15</span></div><div><span>14:30</span></div><div><span>14:45</span></div><div><span>15:00</span></div><div><span>15:15</span></div><div><span>15:30</span></div><div><span>15:45</span></div><div><span>16:00</span></div><div><span>16:15</span></div><div><span>16:30</span></div><div><span>16:45</span></div><div><span>17:00</span></div><div><span>17:15</span></div><div><span>17:30</span></div><div><span>17:45</span></div><div><span>18:00</span></div><div><span>18:15</span></div><div><span>18:30</span></div><div><span>18:45</span></div><div><span>19:00</span></div><div><span>19:15</span></div><div><span>19:30</span></div><div><span>19:45</span></div><div><span>20:00</span></div><div><span>20:15</span></div><div><span>20:30</span></div><div><span>20:45</span></div><div><span>21:00</span></div><div><span>21:15</span></div><div><span>21:30</span></div><div><span>21:45</span></div><div><span>22:00</span></div><div><span>22:15</span></div><div><span>22:30</span></div><div><span>22:45</span></div><div><span>23:00</span></div><div><span>23:15</span></div><div><span>23:30</span></div><div><span>23:45</span></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- <i class="fas fa-times close-sign"></i> -->
        <span class="close-sign close-sign-month">&times;</span>
        </div>
    </div>
    <button class="submit-options-btn">Publish</button>
    
</div>

<div id="publish-modal" class="modal-sign">
    <!-- <div > -->
      
      <form class="publish modal-sign-content" action="javascript:void(0);">
        <span class="close-sign">&times;</span>
        <fieldset>
            <!-- <i class="fas fa-sign-in-alt fa-4x" id="sign-in-icon"></i> -->
            <h1>Publish MeetMe</h1> 
            <hr>
            <div class='inputWithIcon'>
                <label for="meetme-name"><strong>MeetMe name</strong> <br></label>
                <input type="text" name="MeetMeName" id="meetme-name" placeholder="Enter a name for your MeetMe" required>
                <br> 
            </div>
            <div class='inputWithIcon'>
                <label style="meetme-description"><strong>Description</strong> <br></label>
                <textarea id="description" name="description" rows="4" placeholder="Enter a description for your MeetMe (Optional)"></textarea>
                {{!-- <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i> --}}
                <br> 
            </div>
            

            <ul class="ks-cboxtags">
              <li><input type="checkbox" id="checkboxOne" value="oneOption"><label for="checkboxOne">Limit to 1 option per user</label></li>
            </ul>
            <br>
  
  
          <button id='final-publish'>Publish MeetMe</button>
        </fieldset>
    </form>
    
      
</div>
<script src="js/create.js"></script>