<div class="svg-wrappp img1-small">
  <div class="img1 desk bg-svg"></div>
</div>
<div class="img1 desk img1-large"></div>

<!-- <div class="img1m  mobile"></div> -->

<div lang="en" style="z-index: 5;">
  <div class="desclabel">
    <h2>Create a schedule for your available time slots.</h2>
  </div>
</div>

<div class="svg-wrappp" style="z-index: 5; background: white;">
  <div class="img2 desk bg-svg"></div>
</div>

<!-- <div class="img2m  mobile"></div> -->

<div lang="en" style="z-index: 6;">
  <div class="desclabel">
    <h2>Share that schedule so that people can vote.</h2>
  </div>
</div>

<div class="svg-wrappp" style="z-index: 6; background: white;">
  <div class="img3 desk bg-svg"></div>
</div>
<!-- <div class="img3  desk"></div>
<div class="img3m  mobile"></div> -->

<div lang="en">
  <div class="desclabel">
    <h2>Choose the most suited time slot for your meeting.</h2>
  </div>
</div>


<div class="img4 desk">

  {{#if loggedin}}
    <div class="trywrapper trywrapper-logged">
      <div class="tryme tryme2 tryme2-logged {
  grid-column: 1/2;
}">
        <h2>Create a meetme to organize a meeting around your schedule!</h2>
        <img src="images/drawing.svg" alt="" />
        <button onclick="location.href='/create-meetme';">Create</button>
      </div>
    </div>
  {{else}}
    <div class="trywrapper">
      <div class="tryme">
        <h2>Start managing your schedule and meetings now!</h2>
        <img src="images/add-user.svg" alt="" />
        <button id="upbtn">Sign Up</button>
      </div>
      <div class="tryme tryme2">
        <h2>Create a meetme to organize a meeting around your schedule!</h2>
        <img src="images/drawing.svg" alt="" />
        <button onclick="location.href='/create-meetme';">Create</button>
      </div>
    </div>
  {{/if}}
  
</div>



{{!-- <div class="img4 desk">
  <div class="trywrapper">
    <div class="tryme">
      <h2>Start managing your schedule and meetings now!</h2>
      <img src="images/add-user.svg" alt="" />
      <button id="upbtn">Sign Up</button>
    </div>
    <div class="tryme tryme2">
      <h2>Create a meetme to organize a meeting around your schedule!</h2>
      <img src="images/drawing.svg" alt="" />
      <button onclick="location.href='/monthly_calendar';">Create</button>
    </div>
  </div>
</div> --}}


{{! <div class="img4m  mobile">
</div> }}

{{!
<script src="js/modal.js"></script>
<script src='js/signinpsw.js'></script>
<script src='js/signuppsw.js'></script> }}

{{#if failedloggin}}
      <div id="alert-modal-index" class="modal-sign" style="display: none;">
        <div class="alert-content modal-sign-content">
             <span id="close-sign-alert-index" class="close-sign-alert">&times;</span>
            <fieldset>
               
                <h3>Wrond Credentials</h3>
            
                <button id="alert-btn-index">OK</button>
            </fieldset>
        </div>
    </div>
    <script>
      {{!-- alert("Wrond Credentials") --}}
        const findmodalin = document.getElementById("signinmodal");
        findmodalin.style.display = "block";
        document.querySelector('#alert-modal-index').style.display = 'block'
    </script>
{{/if}}  
{{#if needtolog}}
    <div id="alert-modal-index" class="modal-sign" style="display: none;">
        <div class="alert-content modal-sign-content">
             <span id="close-sign-alert-index" class="close-sign-alert">&times;</span>
            <fieldset>
               
                <h3>You need to log in first</h3>
            
                <button id="alert-btn-index">OK</button>
            </fieldset>
        </div>
    </div>
    <script>
      {{!-- alert("You need to log in first!") --}}
        const findmodalin = document.getElementById("signinmodal");
        findmodalin.style.display = "block";
        document.querySelector('#alert-modal-index').style.display = 'block'
    </script>
{{/if}} 
{{#if aftersignup}}
      <div id="alert-modal-index" class="modal-sign" style="display: none;">
        <div class="alert-content modal-sign-content">
             <span id="close-sign-alert-index" class="close-sign-alert">&times;</span>
            <fieldset>
               
                <h3>You can now sign in</h3>
            
                <button id="alert-btn-index">OK</button>
            </fieldset>
        </div>
    </div>  
    <script>
        {{!-- alert("You can now sign in!") --}}
        const findmodalin = document.getElementById("signinmodal");
        findmodalin.style.display = "block";
        document.querySelector('#alert-modal-index').style.display = 'block'
    </script>
{{/if}}

<script src="/js/index.js"></script>
<!-- <script src="js/navbar.js"></script> -->