<div style="display: grid;">

    <div class="top-vote">
        <h2 class="h2-vote"></h2>
        <h3></h3>
        <h4></h4>
        <label for="name"><strong>Name : </strong></label>
        <input type="text" name="name" id="name">
    </div>


    {{!-- <form class="form"> --}}
    <div class='meeting-table' style='width: 1000px;'>
        <div id="table-scroll">
            <table id='real-table'>
                <thead>
                    <tr class='date-row'></tr>
                </thead>
                <tbody class='all-dates-rows'>
                </tbody>
            </table>
        </div>
        
    </div>
    
    {{!-- </form> --}}
    <button id="submit-votes-btn" class="submit-options-btn">Vote Selected</button>
</div>



<script src="/js/vote.js"></script>