<div style="display: grid;">

    <div class="top-vote">
        <h2 class="h2-vote"></h2>
        <h3></h3>
        <h4></h4>
    </div>

    {{!-- <form class="form"> --}}
        
    <table class='meeting-table' style='width: 1000px;'>
        <thead>
            <tr class='date-row'></tr>
        </thead>
        <tbody class='all-dates-rows'>
        </tbody>
    </table>
    {{!-- </form> --}}
    <button id="submit-votes-btn" class="submit-options-btn">Vote Selected</button>
</div>



<script src="/js/vote.js"></script>